.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    flex-direction: row;
    background: #003f7f;
    height: 470px;
    padding: 5px;
}

.right {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 0 auto;
    background: #333;
    height: 470px;
}

.left {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin: 0 auto;
}

.left .left-content {
    flex-direction: column;
    padding: 0;
    border: 0;
}

.left input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.left div {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left div:last-child {
    margin-bottom: 0;
}

.left button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}

.left button:hover {
    background-color: #0056b3;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    position: relative;
}

.input-container label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #ccc; /* 设置label颜色为灰色 */
}

.input-container input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: calc(100% - 20px);
}

.clear-icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
    top: 37px;
}

.clear-icon:hover {
    color: #333;
}

.color-result {
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.color-result span {
    color: #e6cc1c;
    margin-right: 10px;
}

.color-result button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}

.color-result button:hover {
    background-color: #0056b3;
}

.toast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.toast.show {
    opacity: 1;
}

.handleInput {
    border-width: 0 !important;
    height: 20px;
}

.handleInput textarea {
    border-width: 0;
    background: rgba(85, 85, 85, 0.2) !important;
    color: #fff;
    height: 15px !important;
    font-size: 15px;
}

.marginRight {
    margin-right: 15px;
}

@media (prefers-color-scheme: dark) {
    .left {
        background-color: #333;
        color: #fff;
    }

    .left input {
        background-color: #555;
        border: 1px solid #444;
        color: #fff;
    }

    .left div {
        border: 1px solid #555;
    }

    .left button {
        background-color: #0056b3;
    }

    .left button:hover {
        background-color: #003f7f;
    }
}

.history-list {
    width: 100%;
    height: 100%;
    overflow-y: auto; /* 使记录列表可滚动 */
}

/* 调整滚动条样式 */
.history-list::-webkit-scrollbar {
    width: 2px; /* 设置滚动条宽度为2px */
}

.history-list::-webkit-scrollbar-thumb {
    background-color: #888; /* 设置滚动条颜色 */
    border-radius: 10px; /* 设置滚动条圆角 */
}

.history-list::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* 设置滚动条悬停颜色 */
}

.right ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.right li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.right li:hover {
    background-color: #e6e6e6;
}

@media (prefers-color-scheme: dark) {
    .right li {
        background-color: #444;
        border: 1px solid #555;
    }

    .right li:hover {
        background-color: #878787;
    }
}
